<!-- Footer Area Start Here -->
<footer class="footer-area black-bg pt-60">
    <div class="container">
        <div class="footer-top">
            <div class="footer-logo text-center">
                <a href="{{ path('app_home_index') }}"><img src="{{ asset('resources/img/logo/logo2.png') }}" alt="footer-logo"></a>
                <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature.</p>
            </div>
            <!-- Support Area Start Here -->
            <div class="support-area d-flex flex-wrap justify-content-between">
                <!-- Single Support Area Start Here -->
                <div class="single-support mb-all-40">
                    <div class="support-icon">
                        <img src="{{ asset('resources/img/support/s1.png') }}" alt="support-icon">
                    </div>
                    <div class="support-desc">
                        <h6>Free Shipping</h6>
                        <p>Most product are free <br> shipping.</p>
                    </div>
                </div>
                <!-- Single Support Area End Here -->
                <!-- Single Support Area Start Here -->
                <div class="single-support mb-all-40">
                    <div class="support-icon">
                        <img src="{{ asset('resources/img/support/s2.png') }}" alt="support-icon">
                    </div>
                    <div class="support-desc">
                        <h6>Customer Support</h6>
                        <p>24x7 Customer Support</p>
                    </div>
                </div>
                <!-- Single Support Area End Here -->
                <!-- Single Support Area Start Here -->
                <div class="single-support">
                    <div class="support-icon">
                        <img src="{{ asset('resources/img/support/s3.png') }}" alt="support-icon">
                    </div>
                    <div class="support-desc">
                        <h6>Secure Payment</h6>
                        <p>Most Secure Payment <br> for customer.</p>
                    </div>
                </div>
                <!-- Single Support Area End Here -->
            </div>
            <!-- Support Area End Here -->
        </div>
        <div class="footer-middle ptb-60">
            <div class="row">
                <!-- Single Footer Start -->
                <div class="col-lg-4 col-md-6 mb-all-40">
                    <div class="single-footer">
                        <h4 class="footer-title e-header">Recent Post</h4>
                        <div class="footer-content all-recent-post">
                            <ul class="footer-list recent-post">
                                <li class="single-recent-post">
                                    <div class="recent-img">
                                        <a href="#"><img src="{{ asset('resources/img/products/p2.jpg') }}" alt="blog-img"></a>
                                    </div>
                                    <div class="recent-desc">
                                        <h6><a href="#">Majority have suffered alteration</a></h6>
                                        <span>27 July, 2018</span>
                                    </div>
                                </li>
                                <li class="single-recent-post">
                                    <div class="recent-img">
                                        <a href="#"><img src="{{ asset('resources/img/products/p5.jpg') }}" alt="blog-img"></a>
                                    </div>
                                    <div class="recent-desc">
                                        <h6><a href="#">Majority have suffered alteration</a></h6>
                                        <span>15 Aug, 2018</span>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- Single Footer End -->
                <!-- Single Footer Start -->
                <div class="col-lg-2 col-md-6 mb-all-40">
                    <div class="single-footer">
                        <h4 class="footer-title e-header">quick link</h4>
                        <div class="footer-content">
                            <ul class="footer-list quick-link">
                                <li><a href="{{ path('app_home_cart') }}">cart</a></li>
                                <li><a href="{{ path('app_home_checkout') }}">checkout</a></li>
                                <li><a href="{{ path('app_security_login') }}">login</a></li>
                                <li><a href="{{ path('app_security_register') }}">register</a></li>
                                <li><a href="{{ path('app_home_index') }}">tracking</a></li>
                                <li><a href="{{ path('app_home_shop') }}">product</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- Single Footer End -->
                <!-- Single Footer Start -->
                <div class="col-lg-3 col-md-6 mb-sm-40">
                    <div class="single-footer">
                        <h4 class="footer-title e-header">contact info</h4>
                        <div class="footer-content">
                            <ul class="footer-list contact-info">
                                <li class="location">
                                    <p>lorem address south road</p>
                                    <p>77 north, USA -9991</p>
                                </li>
                                <li class="mail">
                                    <p>domaininfo@mail.com</p>
                                    <p>company@mail.com</p>
                                </li>
                                <li class="phone">
                                    <p>+ 755 2236 6698 22</p>
                                    <p>+ 556 6666 6589 22</p>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- Single Footer End -->
                <!-- Single Footer Start -->
                <div class="col-lg-3 col-md-6">
                    <div class="single-footer">
                        <h4 class="footer-title e-header">newsletter</h4>
                        <div class="footer-content">
                            <ul class="footer-list newsletter-text">
                                <li>
                                    <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium.</p>
                                </li>
                                <li class="footer-search mb-30">
                                    <form action="#">
                                        <label for="footer-mail"></label><input type="text" Placeholder="Email" name="footer-mail" id="footer-mail">
                                        <button><i class="zmdi zmdi-mail-send"></i></button>
                                    </form>
                                </li>
                                <li>
                                    <h5 class="e-header">Social Icon</h5>
                                    <ul class="footer-social d-inline-flex mt-30">
                                        <li><a href="#"><i class="zmdi zmdi-twitter"></i></a></li>
                                        <li><a href="#"><i class="zmdi zmdi-vimeo"></i></a></li>
                                        <li><a href="#"><i class="zmdi zmdi-pinterest"></i></a></li>
                                        <li><a href="#"><i class="zmdi zmdi-dribbble"></i></a></li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- Single Footer End -->
            </div>
        </div>
    </div>
    <div class="footer-bottom text-center ptb-15 off-black-bg">
        <p class="copyright">Copyright©  All right reserved</p>
    </div>
</footer>
<!-- Footer Area End Here -->