{{ form_start(form) }}

<div class="form-group row">
    {{ form_label(form.name, null, {'label_attr': {'class': 'col-md-2 col-form-label'}}) }}
    <div class="col-md-10">
        {{ form_widget(form.name, {'attr': {'class': 'form-control'}}) }}
        {{ form_errors(form.name) }}
    </div>
</div>

<div class="form-group row">
    {{ form_label(form.address, null, {'label_attr': {'class': 'col-md-2 col-form-label'}}) }}
    <div class="col-md-10">
        {{ form_widget(form.address, {'attr': {'class': 'form-control', 'value' :  metaData['Address']|default('') }}) }}
        {{ form_errors(form.address) }}
    </div>
</div>

<div class="form-group row">
    {{ form_label(form.description, null, {'label_attr': {'class': 'col-md-2 col-form-label'}}) }}
    <div class="col-md-10">
        {{ form_widget(form.description, {
            'attr': {'class': 'form-control', 'rows': 3},
            'value': metaData['Description']|default('')
        }) }}
        {{ form_errors(form.description) }}
    </div>
</div>

<div class="form-group row">
    {{ form_label(form.phone, null, {'label_attr': {'class': 'col-md-2 col-form-label'}}) }}
    <div class="col-md-10">
        {{ form_widget(form.phone, {'attr': {'class': 'form-control', 'value' :  metaData['Phone']|default('')}}) }}
        {{ form_errors(form.phone) }}
    </div>
</div>

<div class="form-group row">
    {{ form_label(form.email, null, {'label_attr': {'class': 'col-md-2 col-form-label'}}) }}
    <div class="col-md-10">
        {{ form_widget(form.email, {'attr': {'class': 'form-control', 'value' :  metaData['Email']|default('')}}) }}
        {{ form_errors(form.email) }}
    </div>
</div>
<div class="d-flex justify-content-start align-items-center">
    <button class="btn btn-primary mr-2">{{ button_label|default('Lưu') }}</button>
    <a class="btn btn-info btn-bordered-info" href="{{ path('admin_supplier_index') }}">Danh sach</a>
</div>


{{ form_end(form) }}