{% extends '_layouts/admin/main.html.twig' %}

{% block title %}Supplier index{% endblock %}
{% block stylesheets %}
    <link href="{{ asset('resources/admin/libs/datatables/dataTables.bootstrap4.css') }}" rel="stylesheet"
          type="text/css"/>
    <link href="{{ asset('resources/admin/libs/datatables/buttons.bootstrap4.css') }}" rel="stylesheet"
          type="text/css"/>
    <link href="{{ asset('resources/admin/libs/datatables/responsive.bootstrap4.css') }}" rel="stylesheet"
          type="text/css"/>
    <link href="{{ asset('resources/admin/libs/datatables/select.bootstrap4.css') }}" rel="stylesheet" type="text/css"/>
{% endblock %}
{% block content %}
    <div class="d-flex flex-row justify-content-between align-items-center">
        <h1>Danh sách nhà cung cấp</h1>
        <a class="btn btn-success btn-bordered-success" href="{{ path('admin_supplier_new') }}">Thêm mới</a>
    </div>
    <table class="table table-bordered table-responsive table-hover" id="suppliersTable" style="border-collapse: collapse; border-spacing: 0; width: 100%;">
        <thead class="thead-light">
        <tr>
            <th>Nhà cung cấp</th>
            <th>Địa chỉ</th>
            <th>Thông tin</th>
            <th>Liên hệ</th>
            <th>Email</th>
            <th>Hành động</th>
        </tr>
        </thead>
        <tbody>
        {% for supplier in suppliers %}
            <tr>
                <td>{{ supplier.name }}</td>
                {% if supplier.supplierMetas|length > 0 %}
                    {% for meta in supplier.supplierMetas %}
                        <td> {{ meta.getMetaValue()|join(' | ') }}</td>
                    {% endfor %}
                {% endif %}
                <td>
                    <div class="d-flex justify-content-start align-items-center">
                        <a href="{{ path('admin_supplier_show', {'id': supplier.id}) }}"><i
                                    class="mdi mdi-eye-circle-outline mdi-24px"></i></a>
                        <a href="{{ path('admin_supplier_edit', {'id': supplier.id}) }}"><i
                                    class="mdi mdi-circle-edit-outline mdi-24px"></i></a>
                    </div>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">Không tìm thấy kết quả</td>
            </tr>
        {% endfor %}
        </tbody>
        <tfoot>
        <tr>
            <th>Nhà cung cấp</th>
            <th>Địa chỉ</th>
            <th>Thông tin</th>
            <th>Liên hệ</th>
            <th>Email</th>
            <th>Hành động</th>
        </tr>
        </tfoot>
    </table>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('resources/admin/libs/datatables/jquery.dataTables.min.js') }}"></script>
    <script src="{{ asset('resources/admin/libs/datatables/dataTables.bootstrap4.min.js') }}"></script>
    <script src="{{ asset('resources/admin/libs/datatables/dataTables.buttons.min.js') }}"></script>
    <script src="{{ asset('resources/admin/libs/datatables/dataTables.keyTable.min.js') }}"></script>
    <script src="{{ asset('resources/admin/libs/datatables/dataTables.select.min.js') }}"></script>
    <script src="{{ asset('resources/admin/libs/datatables/dataTables.responsive.min.js') }}"></script>
    <script src="{{ asset('resources/admin/libs/datatables/responsive.bootstrap4.min.js') }}"></script>
    <script src="{{ asset('resources/admin/libs/datatables/buttons.html5.min.js') }}"></script>
    <script src="{{ asset('resources/admin/libs/datatables/buttons.print.min.js') }}"></script>
    <script>
        $(document).ready(function () {
            $('#suppliersTable').DataTable({
                autoWidth: false,
                columnDefs: [
                    {
                        targets: [1, 2, 3, 4, 5], // The column index you want to disable sorting on
                        orderable: false, // Disable sorting (and aria-sort)
                        class: 'text-wrap'
                    }

                ],
                initComplete: function () {
                    this.api()
                        .columns()
                        .every(function (index) {
                            var column = this;
                            // Define columns to use a dropdown filter
                            var dropdownColumns = [1];
                            var nonSearchColumns = [6];

                            if (dropdownColumns.includes(index)) {
                                // Create a select element and add options
                                var select = $('<select class="rounded-1 p-1"><option value="">Tất cả</option></select>')
                                    .appendTo($(column.footer()).empty())
                                    .on('change', function () {
                                        column
                                            .search($(this).val() || '', {exact: true})
                                            .draw();
                                    });
                                column
                                    .data()
                                    .unique()
                                    .sort()
                                    .each(function (d) {
                                        select.append('<option  value="' + d + '">' + d + '</option>');
                                    });
                            } else {
                                if (nonSearchColumns.includes(index)) {
                                } else {
                                    // Create an input element for text search
                                    $('<input class="rounded-1 p-1" type="text" placeholder="Search" />')
                                        .appendTo($(column.footer()).empty())
                                        .on('keyup change clear', function () {
                                            if (column.search() !== this.value) {
                                                column.search(this.value).draw();
                                            }
                                        });
                                }

                            }
                        });
                }
            });
        });
    </script>
{% endblock %}